<!-- <div class="main-panel main-panel-1">
  <p>Unesite broj sobe</p>
  <input
    [(ngModel)]="code"
    placeholder="broj sobe"
    type="text"
    (ngModelChange)="checkCode()"
  />
</div> -->
<!-- <div class="main-panel main-panel-2">
  <p-button label="Kreiraj novu sobu"></p-button>
</div> -->
<div class="game-container game-container-high">
  <img
    src="/assets/img/pozadina-mob-1.png"
    class="background-image background-high"
    alt="background"
  />
  <img
    src="/assets/img/pozadina-tv-1.png"
    class="background-image background-wide"
    alt="background"
  />
  <div class="game-content">
    <div class="button"></div>
  </div>
</div>
