.game-container {
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  .game-container {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 119.5%;
  }
  .background-wide {
    display: none;
  }
  .button {
    top: 67.1%;
    left: 28.6%;
    width: 43.3%;
    height: 14.4%;
  }
}

@media (orientation: landscape) {
  .game-container {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 56.25%;
  }
  .background-high {
    display: none;
  }
  .button {
    top: 67.5%;
    left: 40%;
    width: 20.1%;
    height: 14%;
  }
}
.game-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.button {
  position: absolute;
  opacity: 0.1;
  background-color: aqua;
}
.background-image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
