<div class="page"></div>
<div class="game-container">
  <img
    src="/assets/img/izbor-mob.svg"
    class="background-image show-when-high"
    alt="background"
  />
  <img
    src="/assets/img/izbor-tv.png"
    class="background-image show-when-wide"
    alt="background"
  />
  <div class="game-content">
    <!-- <div class="game-panel">{{nickname}}</div> -->
    <div class="game-panel rotate-phone-container show-when-wide"></div>
    <div class="game-panel rotate-phone show-when-wide">
      Za ovu igru, potrebno je da okrenete telefon uspravno
    </div>

    <div
      class="show-when-high game-panel-container"
      *ngIf="lobby$ | async as lobby; else loading"
    >
      <div class="game-panel text nickname">
        {{ getCharacterTitle(activeCharacter, lobby) }}
      </div>
      <img
        class="character"
        (swipeleft)="updateActiveCharacterIndex(-1)"
        (swiperight)="updateActiveCharacterIndex(1)"
        (click)="selectCharacter(activeCharacter, lobby)"
        [class.picked]="isInUse(activeCharacter, lobby)"
        [src]="activeCharacter.avatarUrl"
        [alt]="activeCharacter.name"
      />
      <div
        class="previous-character"
        (click)="updateActiveCharacterIndex(-1)"
      ></div>
      <div class="next-character" (click)="updateActiveCharacterIndex(1)"></div>
      <!-- <p-carousel 
        [value]="characters"
        [circular]="true"
        (onPage)="activeCharacterIndex = $event.page"
        [styleClass]="'game-panel carousel'"
      >
        <ng-template let-character pTemplate="item">
          <div class="placeholder"></div>
          <img
            class="character"
            (click)="selectCharacter(character, lobby)"
            [class.picked]="isInUse(character, lobby)"
            [src]="character.avatarUrl"
            [alt]="character.name"
          />
        </ng-template>
      </p-carousel> -->
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="game-panel text centered">
    Učitavanje u toku...
  </div>
</ng-template>

<p-dialog
  header="Ulazak u sobu"
  [(visible)]="showError"
  [modal]="true"
  [style]="{ width: '80vw', 'font-size': '2vw' }"
  [baseZIndex]="10000"
>
  {{ errorText }}
  <p-footer>
    <p-button
      type="button"
      icon="pi pi-check"
      (click)="showError = false"
      label="Ok"
    ></p-button>
  </p-footer>
</p-dialog>
<!-- <div *ngIf="lobby$ | async as lobby; else loading">
  <p>Ulazite u sobu: {{ lobby.name }}</p>
  <p>Tema sobe: {{ lobby.setName }}</p>
  <p>Nadimak:</p>
  <input [(ngModel)]="playerNickname" placeholder="nadimak" />
  <div *ngIf="set$ | async as set">
    <ng-container *ngIf="set.characters && set.characters.length">
      <div
        *ngFor="let character of notSelectedCharacters(set, lobby)"
        (click)="setSelected(character)"
      >
        <p>
          {{ character.name }}
          {{
            selectedCharacterAvatar == character.avatarUrl
              ? ' - SELEKTOVAN'
              : ''
          }}
        </p>
        <img [src]="character.avatarUrl" class="avatar" alt="avatar picture" />
      </div>
    </ng-container>
    <p-button
      label="Uđi u sobu"
      [disabled]="!parametersValid()"
      (onClick)="joinLobby()"
    ></p-button>
  </div>
</div>
<ng-template #loading>
  Učitavanje u toku...
</ng-template>
-->
