<div class="page"></div>
<div class="game-container">
  <img
    src="/assets/img/izbor-mob.svg"
    class="background-image show-when-high"
    alt="background"
  />
  <img
    src="/assets/img/izbor-tv.png"
    class="background-image show-when-wide"
    alt="background"
  />
  <div class="game-content">
    <!-- <div class="game-panel">{{nickname}}</div> -->
    <div class="game-panel rotate-phone-container show-when-wide"></div>
    <div class="game-panel rotate-phone show-when-wide">
      Za ovu igru, potrebno je da okrenete telefon uspravno
    </div>

    <div
      class="show-when-high game-panel-container"
      *ngIf="lobby$ | async as lobby; else loading"
    >
      <div class="game-panel text nickname">
        {{ getCharacterTitle(activeCharacter, lobby) }}
      </div>
      <img
        [style.--character-left.%]="nextCharacterLeft"
        [style.--character-opacity]="nextCharacterOpacity"
        *ngIf="nextActiveCharacterAdjustment !== 0"
        class="character-base next-character"
        [class]="isInUse(nextActiveCharacter, lobby) ? 'picked' : 'available'"
        [src]="nextActiveCharacter.avatarUrl"
        [alt]="nextActiveCharacter.name"
      />
      <img
        [style.--character-left.%]="characterLeft"
        [style.--character-opacity]="characterOpacity"
        class="character-base character"
        (pan)="updatePan($event)"
        (panend)="endPan()"
        (pancancel)="endPan()"
        (click)="selectCharacter(activeCharacter, lobby)"
        [class]="isInUse(activeCharacter, lobby) ? 'picked' : 'available'"
        [src]="activeCharacter.avatarUrl"
        [alt]="activeCharacter.name"
      />
      <div class="previous-character-btn" (click)="cycleCharacter(-1)"></div>
      <div class="next-character-btn" (click)="cycleCharacter(1)"></div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="game-panel text centered">
    Učitavanje u toku...
  </div>
</ng-template>

<p-dialog
  header="Ulazak u sobu"
  [(visible)]="showError"
  [modal]="true"
  [style]="{ width: '80vw', 'font-size': '2vw' }"
  [baseZIndex]="10000"
>
  {{ errorText }}
  <p-footer>
    <p-button
      type="button"
      icon="pi pi-check"
      (click)="showError = false"
      label="Ok"
    ></p-button>
  </p-footer>
</p-dialog>
<!-- <div *ngIf="lobby$ | async as lobby; else loading">
  <p>Ulazite u sobu: {{ lobby.name }}</p>
  <p>Tema sobe: {{ lobby.setName }}</p>
  <p>Nadimak:</p>
  <input [(ngModel)]="playerNickname" placeholder="nadimak" />
  <div *ngIf="set$ | async as set">
    <ng-container *ngIf="set.characters && set.characters.length">
      <div
        *ngFor="let character of notSelectedCharacters(set, lobby)"
        (click)="setSelected(character)"
      >
        <p>
          {{ character.name }}
          {{
            selectedCharacterAvatar == character.avatarUrl
              ? ' - SELEKTOVAN'
              : ''
          }}
        </p>
        <img [src]="character.avatarUrl" class="avatar" alt="avatar picture" />
      </div>
    </ng-container>
    <p-button
      label="Uđi u sobu"
      [disabled]="!parametersValid()"
      (onClick)="joinLobby()"
    ></p-button>
  </div>
</div>
<ng-template #loading>
  Učitavanje u toku...
</ng-template>
-->
