@import '../../responsive-setup.scss';

.page {
  background-color: #483d67;
}

@media (orientation: portrait) {
  // .character {
  //   left: 25%;
  //   width: 50%;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }

  .nickname {
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  .ui-carousel.carousel {
    background-color: aqua;
  }

  :host {
    ::ng-deep .ui-carousel {
      position: absolute;
      left: 17.7%;
      top: 21.7%;
      width: 62.3%;
      height: 78.4%;
    }
    ::ng-deep .ui-carousel-item {
      width: 100%;
      height: 100%;
    }
    ::ng-deep .ui-carousel .placeholder {
      width: 62.3vw;
      height: 130vw;
      // width: 320px;
      // height: 695px;
    }
    ::ng-deep .ui-carousel-dot-item.ui-state-highlight .ui-carousel-dot-icon {
      background-color: #543f71 !important;
    }
    ::ng-deep .ui-carousel .ui-button:focus {
      box-shadow: none !important;
    }
    ::ng-deep .ui-carousel .ui-button {
      background-color: transparent !important;
      border: 0 !important;
      color: yellow !important;
    }
    ::ng-deep .ui-carousel .character {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translatey(-50%);
      padding: 2px;
    }
    ::ng-deep .ui-carousel .character.picked {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }
}

@media (orientation: landscape) {
  .button {
    top: 67.5%;
    left: 40%;
    width: 20.1%;
    height: 14%;
  }
  .rotate-phone-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
  .rotate-phone {
    text-align: center;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
