/* You can add global styles to this file, and also import other style files */
body {
  background-color: #46375d;
  color: #ffcc33;
  font-family: 'Century Gothic';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}
