<p>Dostupne sobe</p>
<div class="p-grid">
  <div class="p-col-12 p-md-4">
    <div class="p-grid">
      <div class="p-col">Naziv</div>
      <div class="p-col">Broj igrača</div>
      <div class="p-col">Kod</div>
    </div>
    <div class="p-grid session-table">
      <ng-container *ngFor="let session of sessions$ | async">
        <div class="p-col">{{ session.name }}</div>
        <div class="p-col">{{ session.players.length }}</div>
        <div class="p-col">{{ session.code }}</div>
      </ng-container>
    </div>
  </div>
</div>
<div class="ui-inputgroup join-room">
  <span class="ui-inputgroup-addon">
    <i class="pi pi-user" style="line-height: 1.25;"></i>
  </span>
  <input [(ngModel)]="code" type="text" pInputText placeholder="Kod sobe" />
  <p-button (click)="joinLobby()" label="Uđi"></p-button>
</div>
