<div class="container">
  <div class="main-panel">
    <img src="/assets/img/jovankutija.svg" alt="logo" />
    <div class="game-panel show-when-wide">
      <ng-container *ngTemplateOutlet="createRoom"></ng-container>
    <p>
      ILI
    </p>
      <ng-container *ngTemplateOutlet="joinRoom"></ng-container>
    </div>
    <div class="game-panel show-when-high">
      <ng-container *ngTemplateOutlet="joinRoom"></ng-container>
    <p>
      ILI
    </p>
      <ng-container *ngTemplateOutlet="createRoom"></ng-container>
    </div>
    <ng-template #createRoom>
    <p-button label="Kreiraj sobu" class="create-room panel-item"></p-button>
    </ng-template>
    <ng-template #joinRoom>
    <div class="join-room-ui">
      <div class="ui-inputgroup panel-item">
        <input
          [(ngModel)]="nickname"
          placeholder="nadimak"
          maxlength="12"
          type="text"
          class="nickname"
        />
      </div>
      <div class="ui-inputgroup panel-item">
        <input
          [(ngModel)]="code"
          placeholder="broj sobe"
          type="text"
          class="roomnumber"
          maxlength="6"
        />
      </div>
      <p-button
        label="Uđi u sobu"
        (onClick)="checkCode()"
        class="join-room panel-item"
      ></p-button>
    </div>
    </ng-template>
  </div>
</div>
